@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,200&display=swap');

.AZ{
	color:#0F8EED;
	
}

.web{
	color:#FE4B68;
}

.logo{
	width: 12%;
	float: left;
	height: 80px;
}
.logo a{
	display:block;
	margin-left: 15.9375%;
	margin-top: 4.625%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 160.75%;
	color: #0F8EED;
	text-decoration: none;
}

.logo p{
	margin-left: 16.93%;
	margin-top: 2%;
	margin-bottom: 3%;
	font-size: 80.83%;
	color: white;
}

header{
	width: 100%;
	height: 80px;
	background-color: black;
	margin: auto;
}

.head-menu{
	width: 82.5%;
	height: 80px;
	float: left;
}

.head-menu ul li{
	list-style: none;
	float: left;
	text-align: center;
	display: inline;
	width: 20.625%;
	padding-left: 4%;
}

.head-menu ul li a{
	display: block;
	width: 85.68%;
	text-decoration: none;
	font-size: 100%;
	color:white;
	height: 40px;
	padding-top: 15px;
	cursor: pointer;
	
}
.head-menu ul li a:hover{
	background: #057AED;
	transition: all 0.5s ease;
}

footer{
	width: 100%;
	background-color: black;
	height: 80px;
	margin: auto;
	position: relative;
	flex-grow: 0;
}

.footer-menu ul li{
	list-style: none;
	float: left;
	text-align: center;
	display: inline;
	width: 15.625%;
	padding-left: 3%;
}

.footer-menu ul li a{
	display: block;
	width: 85.68%;
	text-decoration: none;
	font-size: 100%;
	color:white;
	height: 3.43%;
	padding-top: 8.56%;
	cursor: pointer;
}
.AZ-f{
	color:#0F8EED;
	font-size: 150%;
}

.web-f{
	color:#FE4B68;
	font-size: 150%;
}

.footer-menu ul li{
	margin-top: -15px
}
html, body{
	min-height: 100vh;
}

body{
	display: flex;
	flex-direction: column;
	background-color: #ECECEC;
}

main{
	flex-grow: 1;
}

.footer-menu img:hover{
	transform: scale(0.5);
	transition: 0.3s
}



.button{
	color:#057AED;
	font-size:px;
	background:transparent;
	cursor:pointer;
	border:1px solid #057AED;
	width:150px;
	height:40px;
	position:relative;
	left:75px;
	top:30px;
	text-align:center;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	 -webkit-transition:all .6s ease-in-out;
	transition:all .6s ease-in-out;
   overflow:hidden;
  }
  
  .button a{
	  position: relative;
	  text-align: center;
	  text-decoration: none;
	  color: black;
  }

  .button::before{
	content:'';
	position:absolute;
	top:-130px;
	margin:auto;
	display:block;
	border-radius:50%;
	width:300px;
	height:300px;
	left:-75px;
	-webkit-transition:box-shadow .6s ease-in-out;
	transition:box-shadow .6s ease-in-out;
	z-index:-1;
  }
  
  
  .button:hover{
	color:#fff;
  }
  
  .button:hover::before{
	box-shadow:inset 0 0 0 160px #057AED;
  }
 
  .text-input{
	  width: 100%;
	  height: 300px;
	  resize: none;
  }

.news-space{
	background-color: white;

}
#zag-news{
	text-align: center;
}

.button-read{
	background:#1AAB8A;
	color:#fff;
	border:none;
	position:relative;
	height:40px;
	font-size:1em;
	padding:0 2em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
  }
  .button-read:hover{
	background:#fff;
	color:#1AAB8A;
  }
  .button-read:before,button:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #1AAB8A;
	transition:400ms ease all;
  }
  .button-read:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
  }
  .button-read:hover:before,button:hover:after{
	width:100%;
	transition:800ms ease all;
  }

 .read-news{
	 background-color: white;
	 width: 100%;
	 
	 text-align: left;
	 min-height: 500px;
 }

 .article-title {
	 text-align: center;
	 font-family: 'Crimson Pro', serif;
	 font-size:120%;
 }

 .date{
	 text-align: end;
	 margin-top: 100px;
 }