{% extends 'base.html' %}

{% block title %}
Все статьи на сайте
{% endblock %}

{% block body %}
<button onclick="window.location.href = '/create-news';" class="button">
    <a href="/create-news">Создать новость</a>
</button>
<h1 id="zag-news">Все статьи на сайте</h1>

<div class="news-space">

    {% if articles|length > 0 %}

        {% for el in articles %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата: {{ el.date.date() }}</b></p>
            <button onclick="window.location.href='/news/{{ el.id }}';" class="button-read">Детальнее</button>
        </div>
        <hr>
        {% endfor %}
    {% else  %}
    <p>У нас еще нет статей на сайте</p>
    {% endif %}
</div>
{% endblock %}