{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<div class="article-title">
    <h1>{{ article.title }}</h1>

    <div class="read-news">
        <p>{{ article.text }}</p>
        <p class="date"><b>Дата: {{ article.date.date() }}</b></p>
        <p class="author"><b>Дата: {{ article.author }}</b></p>

    </div>
    <button onclick="window.location.href='/news/{{ article.id }}/del';" class="btn btn-danger">Удалить</button>
    <button onclick="window.location.href='/news/{{ article.id }}/update';" class='btn btn-success'>Редактировать</button>
</div>
{% endblock %}